body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  background: #29235c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.top-bar input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.top-buttons button {
    color: #29235c;
    font-weight: bold;
    background: #fff;
    padding: 10px 20px 10px 20px;
    border: 3px #fff solid;
    width: fit-content;
    border-radius: 5px;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
}

.logo {
  height: 100px;
  margin-right: 250px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}

.hero {
  background: url('../assets/IAS.png') no-repeat center center/contain;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  padding: 80px 20px;
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.hero span {
  color: yellow;
}

.popular-links {
  background: #f1f1f1;
  padding: 40px 20px;
  text-align: center;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.link-card {
  padding: 20px 30px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.welcome-video {
  background: #ffffff;
  text-align: center;
  padding: 60px 20px;
}

.welcome-video h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #29235c;
}

.video-container {
  display: flex;
  justify-content: center;
}

.video-container iframe {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.today-on-campus {
  background: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
}

.today-on-campus h2 {
  font-size: 2em;
  color: #29235c;
  margin-bottom: 30px;
}

#events-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.event-card {
  background: #ffffff;
  border-left: 6px solid #29235c;
  padding: 15px 25px;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
  margin: 0 0 10px;
  color: #29235c;
}

.event-card p {
  margin: 0;
  color: #333;
}


.purple { background: #7c3aed; }
.red    { background: #ef4444; }
.orange { background: #f97316; }
.teal   { background: #14b8a6; }


